:root {
  color-scheme: dark;
}

html,
body {
  margin: 0;
  /* padding: 1rem; */
  background: #0e0f12;
  color: #f4f4f5;
  font-family: ui-sans-serif, system-ui, sans-serif;
}

.panel {
  min-height: 80vh;
  padding: 8vh 8vw;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.panel.tall {
  min-height: 100vh;
  justify-content: center;
}

.panel.end {
  background: #15161a;
}

.news-clipping {
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.news-clipping > img {
  /* min-width: 100%; */
  max-width: 80vw;
  aspect-ratio: auto;
}
